.monheader{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /*height: 500px;*/
    text-align: center;
    
    
}

.fontCentury{
    font-family: 'Century Gothic';
    font-weight: lighter;
}

.texth{
    color:black;
    text-align: center;
    font-size:50pt;
    font-family: Century gothic;
    text-shadow: blanchedalmond;
    padding-top:90px ;
    padding-bottom: 20px;
}
.texth2{
    color:black;
    text-align: center;
    font-size:x-large;
    font-family: Calibri;
    padding-bottom: 38px;
}

.monbouton{
    color:#fff;
    text-align: center;
    padding-bottom: 250px;
}

.divback1{

    background-color:rgb(255, 238, 240);
    
}


.divback2{

    background-color:rgb(215, 250, 215);
}

.monfooter{

    background-color:darkslategrey;
    border: black;
    
}

.monbackgr{
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
   /* text-align: center;*/
    color: black;
}
.back-hover:hover{
    background:linear-gradient(-45deg, #3ecf5d, #23d5ab);
    border-style: groove 2px 2px;
    border-radius: 10px;
    color: #ffffff;
    text-shadow: rgb(15, 14, 14) 1px 1px;
}

.monbackgr1{
    background: linear-gradient(-45deg, #a19132, #23d5ab);
    text-align: center;
    border-top-left-radius: 50%;
    color: black;

}
.monimage{
    border: none;
}

.text-logo{
    font-family: 'Century Gothic';
    font-size: 3rem;
}

.myboxshadow-card{
    box-shadow: #ffffff 3px 3px;

}

.myborder-card{
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
}
.myborder-img-card{
    border-radius: 20px;
}
.mycontent-card{
    background-color: #ffffff;
    border-radius: 20px;
}
.mytext-shadow{
    text-shadow: #ffffff 3px 3px;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}